.hero-featured-container .hero-featured-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-featured {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-featured h1,
.hero-featured h2,
.hero-featured h3,
.hero-featured h4,
.hero-featured h5,
.hero-featured h6,
.hero-featured p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-featured.no-image * {
  color: var(--text-color);
}

.hero-featured picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-featured img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-featured {
    padding: 40px 32px;
  }
}
